<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mali:wght@200&family=Neucha&display=swap" rel="stylesheet">
<section class="subscribe section" id="login">
    <div class="subscribe__bg">
        <div class="subscribe__container container">
            <h2 class="footer__title text-center">Editar Madroño</h2>

            <form class="subscribe__form" action="/madronos/edit/{{madrono.id}}?_method=PUT" method="POST">

                <input type="hidden" name="_method" value="PUT">
 
                <div class="subscribe__content">
                    <strong class="subscribe__label">NOMBRE:</strong>
                    <input type="text" name="especie" class="subscribe__input" value="{{madrono.especie}}">
                </div>

                <div class="subscribe__content">
                    <strong class="subscribe__label">ESTADO:</strong>
                    <input type="text" name="estados" class="subscribe__input" value="{{madrono.estados}}">
                </div>

                <div class="subscribe__content">
                    <strong class="subscribe__label">HÁBITO:</strong>
                    <input type="text" name="habito" class="subscribe__input" value="{{madrono.habito}}">
                </div>

                <div class="subscribe__content datoc"
                    value="{{madrono.corteza_de_la_parte_alta_del_tronco_y_ramas_principales}}">
                    <strong class="subscribe__label">CORTEZA ALTA:</strong>
                    <input type="text" name="corteza_de_la_parte_alta_del_tronco_y_ramas_principales"
                        class="subscribe__input"
                        value="{{madrono.corteza_de_la_parte_alta_del_tronco_y_ramas_principales}}">
                </div>

                <div class="subscribe__content dato" value="{{madrono.peciolos_y_ramillas}}">
                    <strong class=" subscribe__label">PECÍOLOS Y RAMILLAS:</strong>
                    <input type="text" name="peciolos_y_ramillas" class="subscribe__input"
                        value="{{madrono.peciolos_y_ramillas}}">
                </div>

                <div class="subscribe__content datoc" value="{{madrono.corteza_de_ramillas}}">
                    <strong class="subscribe__label">CORTEZA RAMAS:</strong>
                    <input type="text" name="corteza_de_ramillas" class="subscribe__input"
                        value="{{madrono.corteza_de_ramillas}}">
                </div>

                <div class="subscribe__content datoc" value="{{madrono.peciolos}}">
                    <strong class="subscribe__label">PECÍOLOS:</strong>
                    <input type="text" name="peciolos" class="subscribe__input" value="{{madrono.peciolos}}">
                </div>

                <div class="subscribe__content dato" value="{{madrono.hojas_duración_y_textura}}">
                    <strong class="subscribe__label">HOJAS (DURACION Y TEXTURA):</strong>
                    <input type="text" name="hojas_duración_y_textura" class="subscribe__input"
                        value="{{madrono.hojas_duración_y_textura}}">
                </div>

                <div class="subscribe__content dato" value="{{madrono.hojas_las_más_anchas}}">
                    <strong class="subscribe__label">HOJAS (LAS MÁS ANCHAS):</strong>
                    <input type="text" name="hojas_las_más_anchas" class="subscribe__input"
                        value="{{madrono.hojas_las_más_anchas}}">
                </div>

                <div class="subscribe__content dato" value="{{madrono.hojas_margen}}">
                    <strong class="subscribe__label">HOJAS, MARGEN:</strong>
                    <input type="text" name="hojas_margen" class="subscribe__input" value="{{madrono.hojas_margen}}">
                </div>

                <div class="subscribe__content">
                    <strong class="subscribe__label">HOJAS, ENVÉS:</strong>
                    <input type="text" name="hojas_enves" class="subscribe__input" value="{{madrono.hojas_enves}}">
                </div>

                <div class="subscribe__content dato" value="{{madrono.inflorescencia}}">
                    <strong class="subscribe__label">INFLORESCENCIA:</strong>
                    <input type="text" name="inflorescencia" class="subscribe__input"
                        value="{{madrono.inflorescencia}}">
                </div>

                <div class="subscribe__content">
                    <strong class="subscribe__label">FLORES:</strong>
                    <input type="text" name="flores" class="subscribe__input" value="{{madrono.flores}}">
                </div>

                <div class="services__modal">
                    <div class="services__modal-content">
                        <ul class="services__modal-services grid">
                            <li class="services__modal-service">
                                <p>¿Seguro que desea editar?</p>
                            </li>
                            <li class="services__modal-service">
                                <button class="button button--flex button--link button--small servicesbn">
                                    <i class="uil uil-check services__modal-icon"></i>
                                    <span class="">Sí </span>
                                </button>
                            </li>
                            <li class="services__modal-service">
                                <span
                                    class="button button--flex button--link button--small  services__close servicesbn">
                                    <i class="uil uil-times services__modal-icon"></i>
                                    <span class="">No </span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <span class="subscribe__button button services__button">
                    <span class="">Guardar</span>
                </span>
            </form>
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/444e1aeffa.js" crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        if ($(".dato").attr("value") === "") {
            $('.dato').hide();
        }
        if ($(".datoc").attr("value") === "") {
            $('.datoc').hide();
        }
        $('.zoom').hover(function () {
            $(this).addClass('transition');
        }, function () {
            $(this).removeClass('transition');
        });
    });
</script>