<!--==================== Datos ====================-->
<section class="contact section" id="up">
    <h2 class="section__title">Arbutus</h2>
    <span class="section__subtitle">Planta</span>

    <div class="contact__container container grid">
        <div>

            <div class="contact__information">
                <div>
                    <h3 class="skills__titles">TODO</h3>
                    <span class="category skills_name">
                        <input type="checkbox" class="btn-check" id="all" category="all">
                        <label for="all" class="texto">Todos los datos</label>
                    </span>
                </div>
            </div>

            <div class="skills__content skills__close">
                <div class="skills__header">

                    <div>
                        <h1 class="skills__titles">Estado</h1>
                    </div>

                    <i class="uil uil-angle-down skills__arrow"></i>
                </div>

                <div class="skills__list grid">
                    <div class="skills__data">
                        <div>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Aguascalientes" category="Aguascalientes">
                                <label for="Aguascalientes">Aguascalientes</label>
                            </span><br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="California" category="California">
                                <label for="California">Baja California</label>
                            </span><br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Sur" category="Sur">
                                <label for="Sur">Baja California Sur</label>
                            </span><br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Chiapas" category="Chiapas">
                                <label for="Chiapas">Chiapas</label>
                            </span><br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Chihuahua" category="Chihuahua">
                                <label for="Chihuahua">Chihuahua</label>
                            </span><br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Ciudad" category="Ciudad">
                                <label for="Ciudad">Ciudad de México</label>
                            </span><br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Coahuila" category="Coahuila">
                                <label for="Coahuila">Coahuila</label>
                            </span><br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Colima" category="Colima">
                                <label for="Colima">Colima</label>
                            </span><br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Durango" category="Durango">
                                <label for="Durango">Durango</label>
                            </span><br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Estado" category="Estado">
                                <label for="Estado">Estado de Mèxico</label>
                            </span><br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Guanajuato" category="Guanajuato">
                                <label for="Guanajuato">Guanajuato</label>
                            </span><br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Jalisco" category="Jalisco">
                                <label for="Jalisco">Jalisco</label>
                            </span><br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Michoacán" category="Michoacán">
                                <label for="Michoacán">Michoacán</label>
                            </span><br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Morelos" category="Morelos">
                                <label for="Morelos">Morelos</label>
                            </span><br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Nayarit" category="Nayarit">
                                <label for="Nayarit">Nayarit</label>
                            </span><br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Nuevo León" category="Nuevo León">
                                <label for="Nuevo León">Nuevo León</label>
                            </span><br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Oaxaca" category="Oaxaca">
                                <label for="Oaxaca">Oaxaca</label>
                            </span><br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Puebla" category="Puebla">
                                <label for="Puebla">Puebla</label>
                            </span><br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Querétaro" category="Querétaro">
                                <label for="Querétaro">Querétaro</label>
                            </span><br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Quintana" category="Quintana">
                                <label for="Quintana">Quintana Roo</label>
                            </span><br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="San" category="San">
                                <label for="San">San Luis Potosi</label>
                            </span><br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Sinaloa" category="Sinaloa">
                                <label for="Sinaloa">Sinaloa</label>
                            </span><br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Sonora" category="Sonora">
                                <label for="Sonora">Sonora</label>
                            </span><br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Tabasco" category="Tabasco">
                                <label for="Tabasco">Tabasco</label>
                            </span><br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Tamaulipas" category="Tamaulipas">
                                <label for="Tamaulipas">Tamaulipas</label>
                            </span><br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Tlaxcala" category="Tlaxcala">
                                <label for="Tlaxcala">Tlaxcala</label>
                            </span><br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Veracruz" category="Veracruz">
                                <label for="Veracruz">Veracruz</label>
                            </span><br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Yucatán" category="Yucatán">
                                <label for="Yucatán">Yucatán</label>
                            </span><br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Zacatecas" category="Zacatecas">
                                <label for="Zacatecas">Zacatecas</label>
                            </span><br>
                        </div>
                    </div>
                </div>
            </div>

            <div class="skills__content skills__close">
                <div class="skills__header">

                    <div>
                        <h1 class="skills__titles">Hábito</h1>
                    </div>

                    <i class="uil uil-angle-down skills__arrow"></i>
                </div>

                <div class="skills__list grid">
                    <div class="skills__data">
                        <div>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Árbol" category="Árbol">
                                <label for="Árbol">Árbol</label>
                            </span> <br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Arbusto" category="Arbusto">
                                <label for="Arbusto">Arbusto, colonial o en manchones</label>
                            </span> <br>
                        </div>
                    </div>
                </div>
            </div>

            <div class="skills__content skills__close">
                <div class="skills__header">

                    <div>
                        <h1 class="skills__titles">Corteza de la parte alta del tronco y ramas principales</h1>
                    </div>

                    <i class="uil uil-angle-down skills__arrow"></i>
                </div>

                <div class="skills__list grid">
                    <div class="skills__data">
                        <div>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Exfoliante" category="Exfoliante">
                                <label for="Exfoliante">Exfoliante, la corteza interior lisa en la parte alta del tronco
                                    y en
                                    las ramas</label>
                            </span> <br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Persistente" category="Persistente">
                                <label for="Persistente">Persistente, rugosa, gris (“leñosa”, con cáscara)</label>
                            </span> <br>
                        </div>
                    </div>
                </div>
            </div>

            <div class="skills__content skills__close">
                <div class="skills__header">

                    <div>
                        <h1 class="skills__titles">Corteza de ramillas</h1>
                    </div>

                    <i class="uil uil-angle-down skills__arrow"></i>
                </div>

                <div class="skills__list grid">
                    <div class="skills__data">
                        <div>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="láminas" category="láminas">
                                <label for="láminas">Exfoliante en láminas</label>
                            </span> <br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Rugosa" category="Rugosa">
                                <label for="Rugosa">Rugosa delgada o exfoliante en láminas pequeñas</label>
                            </span> <br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="cáscara" category="cáscara">
                                <label for="cáscara">Persistente, rugosa (con cáscara)</label>
                            </span> <br>
                        </div>
                    </div>

                </div>
            </div>

            <div class="skills__content skills__close">
                <div class="skills__header">

                    <div>
                        <h1 class="skills__titles">Pecíolos</h1>
                    </div>

                    <i class="uil uil-angle-down skills__arrow"></i>
                </div>

                <div class="skills__list grid">
                    <div class="skills__data">
                        <div>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Galabros" category="Galabros">
                                <label for="Galabros">Glabros, lisos (sin pelos) o puberulentos (como con
                                    polvito)</label>
                            </span> <br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="Con" category="Con">
                                <label for="Con">Con pubescencia pero sin glándulas [a veces con pelos glandulares que
                                    no son
                                    evidentes</label>
                            </span> <br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="pelos" category="pelos">
                                <label for="pelos">Con pelos glandulares cortos (1.5 mm)</label>
                            </span> <br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="glandulares" category="glandulares">
                                <label for="glandulares">Con pelos glandulares largos (1-8 mm)</label>
                            </span> <br>
                        </div>
                    </div>
                </div>
            </div>

            <div class="skills__content skills__close">
                <div class="skills__header">

                    <div>
                        <h1 class="skills__titles">Hojas envés</h1>
                    </div>

                    <i class="uil uil-angle-down skills__arrow"></i>
                </div>

                <div class="skills__list grid">
                    <div class="skills__data">
                        <div>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="visible" category="visible">
                                <label for="visible">Glabro (sin pelos), toda la superficie verde es visible </label>
                            </span> <br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="espaciada" category="espaciada">
                                <label for="espaciada">Con pubescencia espaciada, la superficie verde bien visible
                                </label>
                            </span> <br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="densa" category="densa">
                                <label for="densa">Con pubescencia densa pero la superficie verde es visible </label>
                            </span> <br>
                            <span class="category skills_name">
                                <input type="checkbox" class="btn-check" id="oculta" category="oculta">
                                <label for="oculta">Con pubescencia densa que oculta totalmente lo verde del
                                    envés</label>
                            </span> <br>
                        </div>
                    </div>
                </div>
            </div>

            <div class="skills__content skills__close">
                <div class="skills__header">

                    <div>
                        <h1 class="skills__titles">Flores</h1>
                    </div>

                    <i class="uil uil-angle-down skills__arrow"></i>
                </div>

                <div class="skills__list grid">
                    <div class="skills__data">
                        <div>
                    <h3 class="contact__title">Flores</h3>
                    <span class="category skills_name">
                        <input type="checkbox" class="btn-check" id="amarillentas" category="amarillentas">
                        <label for="amarillentas">Blancas a amarillentas o verdosas </label>
                    </span> <br>
                    <span class="category skills_name">
                        <input type="checkbox" class="btn-check" id="Rosas o blancas con tintes" category="Rosas">
                        <label for="Rosas">Rosas o blancas con tintes rosas o rojizos (bicolor, mollis, occidentalis)
                        </label>
                    </span> <br>
                </div>
                    </div>
                </div>
            </div>

            <div>
                <a href="#up" class="button button--flex" id="apply_filter">
                    Aplicar filtro
                    <i class="uil uil-message button__icon"></i>
                </a>
            </div>


        </div>

        <div class="contact__form">
            <div class="contact__inputs grid">
                <div class="contact__content">
                    <strong>
                        <label for="" class="contact__titled">
                            Especie
                        </label>
                    </strong>
                </div>
                <div class="contact__content">
                    <strong>
                        <label for="" class="contact__titled">
                            Info.
                        </label>
                    </strong>
                </div>
            </div>
            {{#each madronos}}
            <div class="contact__inputs grid producto" category="all  {{estados}} 
                                                                {{habito}} 
                                                                {{corteza_de_la_parte_alta_del_tronco_y_ramas_principales}}
                                                                {{corteza_de_ramillas}}
                                                                {{peciolos}}
                                                                {{hojas_enves}} 
                                                                {{flores}}">
                <div class="contact__content">
                    <label for="" class="contact__label">
                        {{especie}}
                    </label>
                </div>
                <div class="contact__content">
                    <a href="/datos1/infoA/{{_id}}" class="contact__label">
                        Información
                    </a>
                </div>
            </div>
            {{/each}}
        </div>

    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script>
    // Buscador //
    $('#buscador').on('keypress', function (e) {
        if (e.keyCode == 13) {
            buscar();
        }
    });

    // Buscador //
    $('#button_search').on('click', function () {
        buscar();
    });

    // Casillas checkbox //
    $('.btn-check').prop('checked', true);
    $('#apply_filter').on('click', function () {
        $('.producto').hide();
        $('.btn-check:checked').each(function () {
            var input_category = $(this).attr('category');
            $('.producto[category*="' + input_category + '"]').show();
            $('.producto[category*="' + null + '"]').hide();
        });
    });

    $('#all').on('click', function () {
        if ($('#all').is(':checked')) {
            $('.btn-check:not(#all)').prop('checked', true);
        } else if ($('#all').not(':checked')) {
            $('.btn-check:not(#all)').prop('checked', false);
        }
    });
</script>