<!--==================== ABOUT ====================-->
<section class="experience section">
    <h2 class="section__title">{{madrono.especie}}</h2>

    <div class="experience__container container grid">
        <div class="experience__content grid">
            <div class="experience__data">
                <h2 class="experience__number">Estados:</h2>
                <span class="experience__description experience__number">{{madrono.estados}}</span>
            </div>

            <div class="experience__data">
                <h2 class="experience__number">Hábito:</h2>
                <span class="experience__description experience__number">{{madrono.habito}}</span>
            </div>

            <div class="experience__data">
                <h2 class="experience__number">Corteza de la parte alta del tronco y ramas principales:</h2>
                <span
                    class="experience__description experience__number">{{madrono.corteza_de_la_parte_alta_del_tronco_y_ramas_principales}}</span>
            </div>

            <div class="experience__data">
                <h2 class="experience__number">Corteza de ramillas:</h2>
                <span class="experience__description experience__number">{{madrono.corteza_de_ramillas}}</span>
            </div>

            <div class="experience__data">
                <h2 class="experience__number">Pecíolos:</h2>
                <span class="experience__description experience__number">{{madrono.peciolos}}</span>
            </div>

            <div class="experience__data">
                <h2 class="experience__number">Hojas,envés :</h2>
                <span class="experience__description experience__number">{{madrono.hojas_enves}}</span>
            </div>

            <div class="experience__data">
                <h2 class="experience__number">Flores:</h2>
                <span class="experience__description experience__number">{{madrono.flores}}</span>
            </div>
            <div class="about__data">
                <a href="javascript:history.back()" class="button">Volver</a>
            </div>
        </div>

        <div class="experience__img grid">
            <div class="experience__overlay">
                <img src="/img/1{{madrono.especie}}.jpg" alt="{{madrono.especie}}" class="experience__img-one">
            </div>

            <div class="experience__overlay">
                <img src="/img/3{{madrono.especie}}.jpg" alt="{{madrono.especie}}" class="experience__img-two">
            </div>

            <div class="experience__overlay">
                <img src="/img/2{{madrono.especie}}.jpg" alt="{{madrono.especie}}" class="experience__img-two">
            </div>
        </div>
    </div>
</section>