<!--==================== ABOUT ====================-->
<section class="experience section">
    <h2 class="section__title">{{madrono.especie}}</h2>

    <div class="experience__container container grid">
        <div class="experience__content grid">
            <div class="experience__data">
                <h2 class="experience__number">Estados:</h2>
                <span class="experience__description experience__number">{{madrono.estados}}</span>
            </div>

            <div class="experience__data">
                <h2 class="experience__number">Hábito:</h2>
                <span class="experience__description experience__number">{{madrono.habito}}</span>
            </div>

            <div class="experience__data">
                <h2 class="experience__number">Pecíolos y ramillas:</h2>
                <span
                    class="experience__description experience__number">{{madrono.peciolos_y_ramillas}}</span>
            </div>

            <div class="experience__data">
                <h2 class="experience__number">Hojas (duración y textura):</h2>
                <span class="experience__description experience__number">{{madrono.hojas_duración_y_textura}}</span>
            </div>

            <div class="experience__data">
                <h2 class="experience__number">Hojas (las más anchas):</h2>
                <span class="experience__description experience__number">{{madrono.hojas_las_más_anchas}}</span>
            </div>

            <div class="experience__data">
                <h2 class="experience__number">Hojas, margen:</h2>
                <span class="experience__description experience__number">{{madrono.hojas_margen}}</span>
            </div>

            <div class="experience__data">
                <h2 class="experience__number">Hojas, envés:</h2>
                <span class="experience__description experience__number">{{madrono.hojas_enves}}</span>
            </div>

            <div class="experience__data">
                <h2 class="experience__number">Inflorescencia:</h2>
                <span class="experience__description experience__number">{{madrono.inflorescencia}}</span>
            </div>

            <div class="experience__data">
                <h2 class="experience__number">Flores:</h2>
                <span class="experience__description experience__number">{{madrono.flores}}</span>
            </div>
            <div class="about__data">
                <a href="javascript:history.back()" class="button">Volver</a>
            </div>
        </div>

        <div class="experience__img grid">
            <div class="experience__overlay">
                <img src="/img/1{{madrono.especie}}.jpg" alt="{{madrono.especie}}" class="experience__img-one z">
            </div>

            <div class="experience__overlay">
                <img src="/img/3{{madrono.especie}}.jpg" alt="{{madrono.especie}}" class="experience__img-two z">
            </div>

            <div class="experience__overlay">
                <img src="/img/2{{madrono.especie}}.jpg" alt="{{madrono.especie}}" class="experience__img-two z">
            </div>
        </div>
    </div>
</section>
